[submodule "mu_basecore"]
	path = mu_basecore
	url = https://github.com/microsoft/mu_basecore.git
[submodule "Common/mu_oem_sample"]
	path = Common/mu_oem_sample
	url = https://github.com/microsoft/mu_oem_sample.git
[submodule "Common/mu_plus"]
	path = Common/mu_plus
	url = https://github.com/microsoft/mu_plus.git
[submodule "Common/mu_tiano_plus"]
	path = Common/mu_tiano_plus
	url = https://github.com/microsoft/mu_tiano_plus.git
[submodule "Features/mu_feature_dfci"]
	path = Features/mu_feature_dfci
	url = https://github.com/microsoft/mu_feature_dfci.git
[submodule "Silicon/Arm/mu_silicon_arm_tiano"]
	path = Silicon/Arm/mu_silicon_arm_tiano
	url = https://github.com/microsoft/mu_silicon_arm_tiano.git
[submodule "Features/mu_feature_config"]
	path = Features/mu_feature_config
	url = https://github.com/microsoft/mu_feature_config.git
